In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
## Load Path
get_path = 'drive/MyDrive/Skip-GNN/'
data_path = get_path + 'data/IAV/'

In [3]:
import pandas as pd
import numpy as np

In [4]:
protein_list = pd.read_csv(data_path + 'protein_list.csv')
# protein_list.columns = ['idx', 'Protein1_ID']
protein_list

       Unnamed: 0 Protein1_ID
0               0      P03428
1               1      P03431
2               2      P03433
3               3      P03452
4               4      P03466
...           ...         ...
15680       15680      Q6NUS8
15681       15681      P12018
15682       15682      Q96IU2
15683       15683      Q6PEW1
15684       15684      P0CG32

[15685 rows x 2 columns]

In [5]:
## hold-out test set
test_df = pd.read_csv(data_path + 'edges/nn_test_idx.csv')

## Training and Validation Set
pos_org = pd.read_csv(data_path + 'edges/nn_pos_idx.csv')
neg_org = pd.read_csv(data_path + 'edges/nn_neg_idx.csv')

In [6]:
p_idx_arr = []

In [7]:
p_idx_arr.extend(test_df['Protein1_ID'].to_numpy())
p_idx_arr.extend(test_df['Protein2_ID'].to_numpy())

p_idx_arr.extend(pos_org['Protein1_ID'].to_numpy())
p_idx_arr.extend(pos_org['Protein2_ID'].to_numpy())

p_idx_arr.extend(neg_org['Protein1_ID'].to_numpy())
p_idx_arr.extend(neg_org['Protein2_ID'].to_numpy())

In [8]:
p_idx_arr_u = list(set(p_idx_arr))
print(len(p_idx_arr_u))

1702

In [9]:
new_protein_list = protein_list

In [11]:
new_protein_list['ifeat_label'] = 0

In [12]:
for i in new_protein_list.index:

  # print(new_protein_list['Unnamed: 0'][i])
  
  if new_protein_list['Unnamed: 0'][i] in p_idx_arr_u:
    new_protein_list['ifeat_label'][i] = 1
  
  # else:
  #   new_protein_list['ifeat_label'][i] = 0

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [13]:
new_protein_list

       Unnamed: 0 Protein1_ID  ifeat_label
0               0      P03428            1
1               1      P03431            1
2               2      P03433            1
3               3      P03452            1
4               4      P03466            1
...           ...         ...          ...
15680       15680      Q6NUS8            0
15681       15681      P12018            0
15682       15682      Q96IU2            0
15683       15683      Q6PEW1            0
15684       15684      P0CG32            0

[15685 rows x 3 columns]

In [16]:
new_protein_list[new_protein_list['Unnamed: 0']==12392]

       Unnamed: 0 Protein1_ID  ifeat_label
12392       12392      P14770            1

In [18]:
ifeat_label_file = new_protein_list[['Protein1_ID', 'ifeat_label']]
ifeat_label_file

      Protein1_ID  ifeat_label
0          P03428            1
1          P03431            1
2          P03433            1
3          P03452            1
4          P03466            1
...           ...          ...
15680      Q6NUS8            0
15681      P12018            0
15682      Q96IU2            0
15683      Q6PEW1            0
15684      P0CG32            0

[15685 rows x 2 columns]

In [19]:
ifeat_label_file.to_csv(data_path + 'ifeature_selection_label.txt', sep='\t', index=False, header=None)